<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<h2>Form Edit</h2>
<div id="form">
    <form th:action="@{/facility/saveEdit}" th:object="${facility}" th:method="post">

        <input type="hidden" th:field="*{id}">

            <select id="facilityType" th:field="*{facilityType}">
                <option th:each="item:${facilityTypeList}" th:value="${item.id}" th:text="${item.name}"></option>
            </select>

        <span>Name:</span>
        <input type="text" th:field="*{name}">

        <span>Area:</span>
        <input type="text" th:field="*{area}">

        <span>Cost:</span>
        <input type="text" th:field="*{cost}">

        <span>Max People:</span>
        <input type="text" th:field="*{maxPeople}">

        <span>Standard Room:</span>
        <input type="text" th:field="*{standardRoom}">

        <span>Description Other Convenience:</span>
        <input type="text" th:field="*{descriptionOtherConvenience}">

        <div id="poolArea">
            <span>Pool Area:</span>
            <input type="text" th:field="*{poolArea}">
        </div>

        <div id="numberOfFloor">
            <span>Number Of Floors:</span>
            <input type="text" th:field="*{numberOfFloors}">
        </div>

        <div id="facilityFree">
            <span>Facility Free:</span>
            <input type="text" th:field="*{facilityFree}">
        </div>

        <span>Rent Type:</span>
        <select th:field="*{rentType}">
            <option th:each="item:${rentTypeList}" th:value="${item.id}" th:text="${item.name}"></option>
        </select>

        <input type="submit" value="Save!">

    </form>
</div>

<script>
    if ($('#facilityType').val() === '1') {
        $('#facilityFree').hide();
    }
    if ($('#facilityType').val() === '2') {
        $('#facilityFree').hide();
        $('#poolArea').hide();
    }
    if ($('#facilityType').val() === '3') {
        $('#poolArea').hide();
        $('#numberOfFloor').hide();
    }

    $('#facilityType').change(function () {
        if ($(this).val() === '1') {
            $('#facilityFree').hide();
            $('#poolArea').show();
            $('#numberOfFloor').show();
        }
        if ($(this).val() === '2') {
            $('#facilityFree').hide();
            $('#poolArea').hide();
            $('#numberOfFloor').show();
        }
        if ($(this).val() === '3') {
            $('#facilityFree').show();
            $('#poolArea').hide();
            $('#numberOfFloor').hide();
        }
    })
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</body>
</html>