<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Customer List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h3 style="color: #ffc107; text-align: center">CONTRACT LIST OF FURAMA RESORT</h3>
<a href="/contract/create">Add New Contract</a>
<p style="color: red" th:text="${mess}"></p>
<p style="color: red" th:text="${messDelete}"></p>
<p th:if="${contractList.isEmpty()}" style="color:red">List Empty</p>
<table class="table table-striped" border="1">
    <thead>
    <tr>
        <th>Dịch vụ</th>
        <th>Khách hàng</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>
        <th>Tiền đặt cọc</th>
        <th>Tổng tiền</th>
        <th>Các dịch vụ đi kèm</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract, contractTus: ${contractList}">
        <td th:text="${contract.facility.name}"></td>
        <td th:text="${contract.customer.name}"></td>
        <td th:text="${contract.startDate}"></td>
        <td th:text="${contract.endDate}"></td>
        <td th:text="${contract.deposit}"></td>
        <td th:text="0"></td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">
                +
            </button>
       <a class="btn btn-primary">Danh sách các dịch vụ đi kèm</a>

        </td>
    </tr>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete <span style="color: red" id="nameDelete"></span>?
                    </p>
                </div>
                <div class="modal-footer">
                    <form action="/customer/delete">
                        <input type="text" name="delete" id="id" hidden>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </tbody>
</table>
<div>
    <a th:if="${contractList.hasPrevious()}"
       th:href="@{'/contract/list'(page=${customerList.number - 1})}">Previous</a>
    <span th:text="${contractList.number + 1}"></span>/<span th:text="${contractList.totalPages}"></span>
    <a th:if="${contractList.hasNext()}"
       th:href="@{'/contract/list'(page=${customerList.number + 1})}">Next</a>
</div>
<div>
    <a href="/home">Back Home!!!</a>
</div>
<script>
    function infoDelete(id, name) {
        document.getElementById("nameDelete").innerText = name;
        document.getElementById("id").value = id;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</body>
</html>