<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Form Edit</h2>
<form th:action="@{/facility/saveEdit}" th:object="${facility}" th:method="post">
    <input type="hidden" th:field="*{id}">
    <pre>Name:                            <input th:field="*{name}"></pre>
    <pre>Area:                            <input th:field="*{area}"></pre>
    <pre>Cost:                            <input th:field="*{cost}"> </pre>
    <pre>Max People:                      <input th:field="*{maxPeople}"></pre>
    <pre>Standard Room:                   <input th:field="*{standardRoom}"></pre>
    <pre>Description Other Convenience:   <input th:field="*{descriptionOtherConvenience}"> </pre>
    <pre>Pool Area:                       <input th:field="*{poolArea}"></pre>
    <pre>Number Of Floors:                <input th:field="*{numberOfFloors}"></pre>
    <pre>Facility Free:                   <input th:field="*{facilityFree}"> </pre>
    <pre>Rent Type:                       <select th:field="*{rentType}">
                        <option th:each="item:${rentTypeList}" th:value="${item.id}" th:text="${item.name}"></option>
                                          </select>
    </pre>
    <pre>Facility Type:                   <select th:field="*{facilityType}">
                        <option th:each="item:${facilityTypeList}" th:value="${item.id}" th:text="${item.name}"></option>
                                          </select>
    </pre>
    <input type="submit" value="Save!">
</form>
</body>
</html>