<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Customer List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<h3 style="color: #ffc107; text-align: center">FACILITY LIST OF FURAMA RESORT</h3>
<form th:href="@{/facility/list}">
    <input type="text" placeholder="Name" th:name="name" th:value="${name}">
    <select style="width: 20%" th:name="nameType">
        <option th:if="${nameType!=''}" th:text="${nameType}"></option>
        <option value="">All</option>
        <option th:each="item : ${facilityTypeList}" th:text="${item.name}" th:value="${item.name}"></option>
    </select>
    <input type="submit" value="Search">
</form>
<a href="/facility/create">Add New Facility</a>
<p style="color: red" th:text="${mess}" ></p>
<p style="color: red" th:text="${messDelete}"></p>
<p th:if="${facilityList.isEmpty()}" style="color:red">List Empty</p>
<table class="table table-striped" border="1px">
    <thead>
    <tr>
        <th>Name</th>
        <th>Area</th>
        <th>Cost</th>
        <th>Max People</th>
        <th>Facility Type</th>
        <th>Rent Type</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="facility, facilityTus: ${facilityList}">
        <td th:text="${facility.getName()}"></td>
        <td th:text="${facility.getArea()}"></td>
        <td th:text="${facility.getCost()}"></td>
        <td th:text="${facility.getMaxPeople()}"></td>
        <td th:text="${facility.facilityType.name}"></td>
        <td th:text="${facility.rentType.name}"></td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#deleteModal" th:attr="onclick=|infoDelete('${facility.id}', '${facility.name}')|">
                Delete
            </button>
        </td>
        <td><a th:href="@{/facility/edit/{id}(id=${facility.id})}">Edit</a></td>
    </tr>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Facility</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete <span style="color: red" id="nameDelete"></span>?
                    </p>
                </div>
                <div class="modal-footer">
                    <form action="/facility/delete">
                        <input type="text" name="delete" id="id" hidden>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </tbody>
</table>
<div>
    <a th:if="${facilityList.hasPrevious()}" th:href="@{'/facility/list'(page=${facilityList.number - 1},name=${name},nameType=${nameType})}">Previous</a>
    <span th:text = "${facilityList.number + 1}"></span>/<span th:text = "${facilityList.totalPages}"></span>
    <a th:if="${facilityList.hasNext()}" th:href="@{'/facility/list'(page=${facilityList.number + 1},name=${name},nameType=${nameType})}">Next</a>
</div>
<div>
    <a href="/home">Back Home!!!</a>
</div>
<script>
    function infoDelete(id, name) {
        document.getElementById("nameDelete").innerText = name;
        document.getElementById("id").value = id;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</body>
</html>