<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h3>Edit Account</h3>
<a th:href="@{/home/listAccount}">
    Back to account list
</a>
<form th:action="@{/home/saveEditAccount}" th:object="${account}" method="post" novalidate="novalidate">
    <input type="hidden" th:field="*{id}">
    <div>
        <span>Account Name</span>
        <input type="text" th:field="*{accountName}">
    </div>

    <div>
        <input type="submit" value="Update!!!">
    </div>
</form>
</body>
</html>